<div class="container home-content">
  <div class="home-main-content text-center center-block">
    <h2 class="text-center white-text">About Taskie!</h2>
    <p class="text-center white-text"> Community based app with user account information and user location information. Taskie aims to suite people with a busy life-style that are outsourcing their Errands or Tasks to their fellow Taskies. Users will offer rewards (usually monetary based) for their task to be completed. Free tasks could have community driven rewards. Users will rate each other and battle for number one Taskie rating in their local area.</p>
    <button type="button" onclick="location.href='signup'" class="btn getstarted">Get Started Now</button>
  </div>
</div>
