<div class="container home-content">
  <div class="home-main-content">
    <h2 class="text-center white-text">About Taskie!</h2>
    <p class="text-center white-text"> Community based app with user account information and user location information. Taskie aims to suite people with a busy life-style that are outsourcing their Errands or Task to their fellow Taskies. Users will offer reward (usually monetary based) for their task to be completed. Free task could have community driven rewards Users will rate each other and battle for number 1 Taskie rating in local area.</p>
    <div class="row">
      <a class="col-md-4"></a>
        <button type="button" onclick="document.getElementById('id01').style.display='block'" class="button4 col-md-4">Get Started Now</button>
    </div>
  </div>
</div>
