<div class="container home-content">
  <div class="home-main-content">
    <h3 class="white-text text-center">Have a busy schedule and can't get everything done in one day?</h3>
    <h3 class="white-text text-center">No problem. Taskie is here to solve your busy day.</h3>
    <h3 class="white-text text-center">Sign up today, post your tasks, and let the community help you out.</h3>
    <div class="row">
      <a class="col-md-4"></a>
        <button type="button" onclick="document.getElementById('id01').style.display='block'" class="button4 col-md-4">Get Started Now</button>
    </div>
  </div>
</div>
