<div class="container home-content">
  <div class="home-main-content text-center center-block">
    <h3 class="white-text text-center">Have a busy schedule and can't get everything done in one day?</h3>
    <h3 class="white-text text-center">No problem. Taskie is here to solve your busy day.</h3>
    <h3 class="white-text text-center">Sign up today, post your tasks, and let the community help you out.</h3>
    <button type="button" onclick="location.href='signup'" class="btn getstarted">Get Started Now</button>
  </div>
</div>
