<head>
  <style>
    body {
      background-image: none;
    }
  </style>
</head>
<div class="container all-profile-content">
  <div class="row bottom-border">
    <div class="col-7">
      <div class="row">
        <img class="userpic" src="{{user.thumbnail}}">
        <p id="welcomeText" class="welcome-text align-this">Welcome back, {{user.firstName}} {{user.lastName}}</p>
      </div>
    </div>
  </div>
  <div class="row rewards-content">
    <div id="rewardArea" class="col-12">
    </div>
  </div>
</div>

<script>let id = {{user.id}}</script>
<script src="./js/rewards.js"></script>
