* {
  color: #565656;
  font-size: 14px;
  line-height: 1.0;
  font-family: 'Open Sans', sans-serif;
}
body {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("pisidesign-equipe-color.jpg");
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.container {
    padding: 16px;
}
.site-content {
  flex: 1;
}

.footer {
  background-color: #f8f9fa!important;
}
.text-muted {
  font-size: 12px;
}
/*header stuff*/
#headerinline {
  background: white;
}

.navbar-brand {
  margin-left: -40px;
}

.logo {
  color: #3BE67F!important;
  font-family: 'Pacifico', cursive;
  font-size: 48px;
}

#navbarSupportedContent {
  margin-right: -40px;
}

h1 {
    font-size: 3em;
}

.intro{
    color: #3BE67F;
}

.model {
  padding-top: 1px;
}

nav>.container {
  padding: 0 16px;
}

.nav-item {
  margin-left: 20px;
}
.login {
  background: none;
  border: 1px solid #565656;
  color: #565656;
  margin-left: 20px;
}

.login:hover {
  background: #565656;
  border: 1px solid #565656;
  color: white;
}

.signup {
  background: none;
  border: 1px solid #3BE67F;
  color: #3BE67F;
  margin-left: 20px;
}

.signup:hover {
  background: #3BE67F;
  border: 1px solid #3BE67F;
  color: white;
}

.getstarted {
  margin-top: 20px;
  border: 1px solid white;
  padding: 10px 20px;
  background: none;
  color: white;
}

.getstarted:hover {
  background: white;
  color: #565656;
}

.userpic {
  border-radius: 50px;
  height: 50px;
}

.welcome-text {
  color: #565656;
  text-align: left;
  margin-left: 15px;
}

.align-this {
  padding-top: 20px;
}

.bottom-border {
  border-bottom: 1px solid #F6F6F6;
}

.user-task-title {
  padding: 10px;
  font-size: 14px;
  padding-bottom: -50px;
  cursor: pointer;
}

.user-task-area {
  padding: 0 10px 10px 10px;
  font-size: 12px;
}

.btn-add-task {
  background-color: #3BE67F;
  border: 1px solid #3BE67F;
}

.btn-add-task:hover {
  background-color: white;
  border: 1px solid #3BE67F;
  color: #3BE67F;
}

#createNewTask {
  color: #3BE67F;
  cursor: pointer;
  margin-right: -20px;
}

.need-border {
  border-left: 1px solid #F6F6F6;
}

.btn-task {
  color: #3BE67F;
  background: none;
  border: 1px solid #3BE67F;
  min-width: 6em;
  font-size: 12px;
}

.cancel {
  background: none;
  border: 1px solid #565656;
  color: #565656;
  min-width: 6em;
  font-size: 12px;
}

.cancel:hover {
  background: #565656;
  border: 1px solid #565656;
  color: white;
  min-width: 6em;
  font-size: 12px;
}

.btn-task:hover {
  background-color: #3BE67F;
  border: 1px solid #3BE67F;
  color: white;
}

.task-space {
  padding: 5px 0;
}

.middle-this {
  margin-top: 8px;
}

.dot {
  display:inline-block;
  width:0.7em;
  height:0.7em;
  border-radius:50%;
  background-color: #3BE67F;
  margin-right: 10px;
}

.dot-unassigned {
  display:inline-block;
  width:0.7em;
  height:0.7em;
  border-radius:50%;
  border: 1px solid #3BE67F;
  margin-right: 10px;
}

.all-profile-content {
  margin-top: 20px;
  margin-bottom: 40px;
}

.intro {
  margin-top: 30px;
}

.white-text {
  color: white;
  line-height: 40px;
}
.home-content {
  height: 500px;
}
.home-main-content {
  position: relative;
  top: 50%;
  transform: perspective(1px) translateY(-50%);
}

.strikethrough {
  text-decoration: line-through;
  color: #B6B6B6;
}

.task-form-group {
  position: relative;
  display: inline-block;
}

.task-form-div {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 400px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 10000;
}

.show {
  display: block;
}

#addTaskForm {
  padding: 20px;
  margin-top: 5px;
}

input[type="text"].task-form {
  padding: 10px;
  font-size: 13px;
}

.task-text-area {
  margin-bottom: 10px;
  font-size: 13px;
  padding: 10px;
}

.task-description-row {
  cursor: pointer;
  padding-top: 5px;
  padding-bottom: 5px;
}
.task-description-row-background {
  cursor: pointer;
  padding-top: 5px;
  padding-bottom: 5px;
  border-top: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
  border-radius: 4px 4px 0 0;
  background: #f8f9fa;
}

p {
  margin-bottom: 0;
}

.task-description-row:hover {
  background: #f8f9fa;
  border-radius: 4px 4px 0 0;
}

.task-details-row {
  display: none;
  border-radius: 0 0 4px 4px;
  padding: 15px;
  padding-right: 20px;
  border-bottom: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
}

.task-details-row>p {
  line-height: 1.5em;
}
.indent-text {
  display: inline-block;
  text-indent: -1.9em;
  padding-left: 1.9em;
  line-height: 1.4em;
}

.modal-backdrop {
  z-index: 0;
}

.message-text {
  font-size: 14px;
  padding: 10px;
}

.italics {
  font-style: italic;
}

.rewards-content {
  margin-top: 20px;
}

.headline-text {
  margin-top: 40px;
}

.get-in-div {
  margin-top: 40px;
}

.get-in-div-div {
  padding: 30px;
  -webkit-box-shadow: 0px 0px 29px 0px rgba(187,187,187,0.5);
  -moz-box-shadow: 0px 0px 29px 0px rgba(187,187,187,0.5);
  box-shadow: 0px 0px 29px 0px rgba(187,187,187,0.5);
  border-radius: 4px;
}

.get-in-btn {
  border: 1px solid #565656;
  background: none;
  color: #565656;
  width: 100%;
  padding: 10px;
}

.green {
  background: none;
  border: 1px solid #3BE67F;
  color: #3BE67F;
  width: 100%;
  padding: 10px;
}

.get-in-btn:hover {
  border: 1px solid #565656;
  background: #565656;
  color: white;
}

.green:hover {
  background: #3BE67F;
  border: 1px solid #3BE67F;
  color: white;
}

.get-in-form>input {
  margin-bottom: 25px;
  padding: 10px;
}

.forgot-password {
  margin-top:10px;
  padding: 40px 40px 0 40px;
}
.forgot-password>a {
  text-decoration: none;
  color: #565656;
}

.forgot-password>a:hover {
  color: #3BE67F;
}

a.nav-link {
  margin-top: 3px;
}

.form-check-label {
  display: block;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 20px;
}

.form-check-label input {
  position: absolute;
  opacity: 0;
}

.radio {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 11px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 1px solid #3BE67F;
    background: white;
}

/* On mouse-over, add a grey background color */
.form-check-label:hover input ~ .radio {
  border: rgba(59, 230, 127, 0.4);
  background: rgba(59, 230, 127, 0.4);
}

.form-check-label input:checked ~ .radio {
    border: #3BE67F;
    background-color: #3BE67F;
}


@media only screen and (max-width: 576px) {
  .userpic {
    display: none;
  }

  #logo {
    margin-left: 0px;
  }

  #navbarSupportedContent {
    margin-right: 0px;
  }
}
